body {
  margin: 0;
}

@font-face {
  font-family: 'Open Sans';
  src: url(opensans/OpenSans-Bold.ttf);
  src: url(opensans/OpenSans-BoldItalic.ttf);
  src: url(opensans/OpenSans-ExtraBold.ttf);
  src: url(opensans/OpenSans-ExtraBoldItalic.ttf);
  src: url(opensans/OpenSans-Italic.ttf);
  src: url(opensans/OpenSans-Light.ttf);
  src: url(opensans/OpenSans-LightItalic.ttf);
  src: url(opensans/OpenSans-Regular.ttf);
  src: url(opensans/OpenSans-Semibold.ttf);
  src: url(opensans/OpenSans-SemiboldItalic.ttf);
}

.page-about-us {
  max-width: 1920px;
  min-width: 1920px;
  font-family: Open Sans, sans-serif;
}



.header {
  position: relative;
  height: 555px;
  left: 0px;
  top: 0px;
  right: 0;
  background: radial-gradient(318.85px at 52.55% 50%, #355B77 0%, #003B5D 100%);
}

.container {
  
  position: relative;
  top: 0;
  right:0;
  left: 0;
  display: flex;
  padding-top: 60px;
  padding-left: 133px;
  padding-right: 180px;
  font-family: Asap;
  font-style: normal;
  font-family: Asap;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #FFFFFF;
}

.logotype {
  width: 168px;
  height: 89px;
  
  
}

 .logotype p {
  display: block;
  margin-top: 20px;
  margin-left: 27px;
  text-align: left;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.15em;
  color: #FFBA2F;
}

.header-menu {
  margin-top: 17px; 
  margin-left: auto;
  margin-right: auto;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.menu-link .differ {
  margin-right: 51px;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  color:  #FFBA2F;
  text-decoration: underline;
  
  text-transform: uppercase;
}

.menu-link {
  text-decoration: none;
  margin-left: 27px;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  color: inherit;
  text-transform: uppercase;
}

.menu-list-item:nth-child(n +2) {
  margin-left: 33px;
}

.contact-telephone {
  display: flex;
  padding-left: 45px;
  background-image: url("images/phone.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left 5px center;
}

.telephone-order {
  margin-top: 20px;
}


.contact p, .telephone {
  color: #FFBA2F;
}

h1 {
  display: block;
  width: 736px;
  top: 205px;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
}

h1, .header-title {
  
  font-family: Alice;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: 0.11em;
  text-align: center;
}


.header-title {
  color: #FFBA2F;
}

.header::after {
  position: absolute;
  top: 447px;
  left: 800px;
  content: " __________________ ";
  display: block;
  font-size: 40px;
  color: #FFBA2F;;
}


main {
  position: relative;
}
.content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 102px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 108px;
  padding-right: 108px;
  
}

h3, h4, h6, p, .button-order-call {
  display: block;
  font-family: Asap;
  font-style: normal;
  font-weight: normal;
}

p {
  margin-top: 30px;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.11em;
  color: #000000;
}

.about-expert {
  width: 795px;
  margin-right: 80px;
}

.about-expert-pro {
  padding-right: 60px;
  margin-bottom: 900px;
}

h3 {
  width: 593px;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.11em;
  color: #FFBA2F;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h3 span {
  font-style: italic;
}

.button-order-call {
  width: 292px;
  height: 65px;
  margin-top: 90px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  border: 1px solid #FFBA2F;
  background: radial-gradient(47.78px at 47.64% 45.1%, #FFBA2F 0%, #B67B06 100%);
  box-shadow: 4px 4px 4px rgba(255, 220, 51, 0.15);
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-transform: uppercase;
}

.button-order-call:hover {
  background: #FFBA2F;
}


.for-customers {
  width: 829px;
  font-family: Asap;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.11em;
  color: #000000;

}

.what-customers-get {
  padding-left: 28px;
  padding-top: 30px;
  margin-bottom: 850px;
}

h4 {
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.what-customers-get-continuation {
  padding-right: 24px;
}

.for-customers p .differ {
  display: inline-block;
  margin-top: 20px;
  padding-left: 280px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFBA2F;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}


.blue-rectangle {
  position: absolute;
  left: 0;
  top: 660px;
  width: 785px;
  height: 435px;
  padding-top: 95px;
  padding-left: 90px;
  padding-right: 255px;
  background: #003B5D;
  
  z-index: 2;
}

.blue-rectangle p {
  color: #FFFFFF;
}

.image-rectangle {
  position: absolute;
  right: 0;
  top: 704px;
  width: 850px;
  height: 518px;
  background-color: #E5E5E5;
  background-image: url("images/bus-meeting-pic3.png");
  background-size: cover;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  
  z-index: 3;
}

.free-consultation {
  width: 695px;
  margin-top: 265px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 235px;
}

h6 {
  font-family: Asap;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
.ordered-free {
  font-weight: 600;
}

.field-name-group, .field-phone-address, .field-email-address {
  width: 685px;
  height: 85px;
  padding: 5px;
  box-sizing: border-box;
  vertical-align: middle;
  border-left: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  font-family: Asap;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.field-name-group {
  background-image: url("images/user.png");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: right 20px center;
  opacity: 0.5;
}

.field-phone-address {
  background-image: url("images/smartphone.png");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: right 20px center;
  opacity: 0.5;
}

.field-email-address {
  background-image: url("images/closed-envelope-circle.png");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: right 20px center;
  opacity: 0.5;
}

.field-name-group:focus, .field-phone-address:focus, .field-email-address:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.3);
}

.button-free-consultation {
  display: block;
  width: 311px;
  height: 66px;
  margin-top: 72px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  border: 1px solid #003b5D;
  background: radial-gradient(45.50px at 50% 50%, #035483 0%, #003B5D 100%);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-family: Asap;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFBA2F;
  text-shadow: 8px 8px 8px rgba(255, 186, 47, 0.1);
  text-transform: uppercase;
}
.button-free-consultation:hover {
  background: #0372b2;
}


.image-green {
  position: absolute;
  width: 285px;
  height: 500px;
  top: 2070px;
  left: 0;
  transform: rotate(180deg);
  background-image: url("images/green.png");
  background-size: cover;
  
  z-index: 2;
}

.image-coffee {
  position: absolute;
  width: 735px;
  height: 721px;
  right: 1px;
  top: 2225px;
  background-image: url("images/cap-coffee.png");
  background-size: cover;
  transform: rotate(-90deg);
  
  z-index: 2;
}







.page-about-us-footer {
  position: relative;
  height: 558px;
  font-family: Asap;
  font-weight: normal;
  background-color: #003B5D;
}

.footer-logo-link {
position: absolute;
width: 168px;
height: 89px;
left: 173px;
top: 80px;
}

.footer-address {
  position: absolute;
  width: 215px;
  top: 100px;
  left: 554px;
}
.footer-address  p {
  display: block;
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  color: #FFBA2F;
}

.footer-nav {
  position: absolute;
  top: 85px;
  left: 1021px;
}

.nav-list {
  list-style: none;
  padding-left: 0;
}

.nav-link {
  font-family: inherit;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

.nav-link .differ {
  color: #FFBA2F;
}

.nav-list-item:nth-child(n +2) {
  margin-top: 15px;
}

.enter-for-clients {
  position: absolute;
  left: 1447px;
  top: 96px;
  width: 306px;
  height: 57px;
  box-sizing: border-box;
  border: 2px solid #FFBA2F;
  display: flex;
  padding-top: 5px;
  padding-left: 93px;
  background-image: url("images/padlock.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left 10px center;

  z-index: 3;
}


.enter-for-clients p {
  margin-top: 5px;
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.3;
}

.container-footer {
  position:absolute;
  top: 195px;
  left: 1410px;
  width: 335px;
  height: 25px;
}
.socials {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.socials-link {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.socials-link-email {
  background-image: url("images/email.png");
}
.socials-link-linkedin {
  background-image: url("images/linkedin.png");
}
.socials-link-facebook {
  background-image: url("images/facebook.png");
}
.socials-link-vkontacte {
  background-image: url("images/vk.png")
}
.socials-link-youtube {
  background-image: url("images/youtube.png")
}

.contacts-footer {
  position: absolute;
  top: 275px;
  right: 116px;
  display: block; 
  text-decoration: none;
  transform: rotate(-90deg);
  font-family: inherit;
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.2;
}

.copyright-footer {
  display: block;
  padding-top: 419px;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-size: 10px;
  line-height: 15px;
  font-weight: normal;
  color: #FFBA2F;
}


.contacts-footer:hover, .enter-for-clients p:hover {
  opacity: 1;
}
