body {
  margin: 0;
}

@font-face {
  font-family: 'Open Sans';
  src: url();
  src: url();
}

.page {
  max-width: 1920px;
  min-width: 1920px;
  font-family: Open Sans, sans-serif;
}



.header {
  height: 555px;
  left: 0px;
  top: 0px;
  right: 0;
  background: radial-gradient(318.85px at 52.55% 50%, #355B77 0%, #003B5D 100%);
  
  position: relative;
}

.container {
  
  position: relative;
  top: 0;
  right:0;
  left: 0;
  padding-top: 67px;
  padding-left: 133px;
  padding-right: 180px;
  display: flex;
  font-family: Asap;
  font-style: normal;
  font-family: Asap;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.15em;

  color: #FFFFFF;
}

.logotype {
  width: 168px;
  height: 89px;
  
  
}

 .logotype p {
  display: block;
  margin-top: 20px;
  margin-left: 27px;
  text-align: left;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.15em;
  color: #FFBA2F;
}

.header-menu {
  margin-top: 10px; 
  margin-left: auto;
  margin-right: auto;
}

.menu-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.menu-link .differ {
  text-decoration: underline;
  margin-right: 51px;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  color:  #FFBA2F;
  text-transform: uppercase;
}

.menu-link {
  text-decoration: none;
  margin-left: 27px;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  color: inherit;
  text-transform: uppercase;
}

.menu-list-item:nth-child(n +2) {
  margin-left: 33px;
}

.telephone {
  display: flex;
}

.telephone img {
  width: 20px;
  height: 20px;
  margin-top: 15px;
}
.telephone-number {
  padding-left: 20px;
}
.telephone-order {
  margin-top: 20px;
}


.contact p, .telephone {
  color: #FFBA2F;
}

h1 {
  display: block;
  width: 736px;
  top: 205px;
  margin-left: auto;
  margin-right: auto;
}

h1, .header-title {
  
  font-family: Alice;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: 0.11em;
  text-align: center;
}

h1 {
  color: #FFFFFF;
}

.header-title {
  color: #FFBA2F;
}

.header::after {
  content: " ______________ ";
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-size: 40px;
  color: #FFBA2F;;
    
  position: absolute;
  top: 447px;
  left: 787px;
}